.my-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: static;
}

.slider {
	overflow: hidden;
}

.slider .polosa {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	left: 0px;
	-webkit-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
	max-width: 880px;
	margin-bottom: 30px;
}

.allpets .polosa {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 882px;
}

.petcard {
	margin: 22px;
	padding-top: 20px;
	min-width: 250px;
	height: 320px;
	background-color: #fafafa;
	box-shadow: 0 0 3px -2px rgba(0,0,0,0.4);
}

.grey {
	font-family: Georgia, sans-serif;
	color: #292929;
}

.margin-btn {
	margin-top: 20px;
}

.slider_btn {
	width: 40px;
	height: 40px;
	padding: 10px;
	color: #292929;
	opacity: .9;
	border: 1px solid #f1cdb3;
	border-radius: 50px;
	cursor: pointer;
}

.slider_btn:hover {
	background-color: #f1cdb3;
}

/*Модальное окно*/
  
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(250,250,250,0.9); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	 pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 670px) {
  .modal-dialog {
      max-width: 600px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fafafa;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 1px 5px rgba(0,0,0,.1);
  }
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fafafa;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  	position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 2;
    flex: 2;
    overflow: auto;
    text-align: left;
    color: #292929;
    margin: 30px 30px 30px 0;
}

.modal-body h2, h3 {
	margin-bottom: 5px;
	text-align: left;
	color: #545454;
}

.modal-body ul li{
	margin-top: 4px;
}
.modal-body ul {
	padding-left: 20px;
}
.modal-img {
	flex: 2;
}