
.slider{
    max-width: 90%;
    position: relative;
    margin: 50px auto;
    height: 300px;
    display: flex;
    overflow: hidden;
}

/*.slider .slider-item img {
     Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: 
    object-fit: cover;
    width: 100%;
    height: 300px;
}*/

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .slider-item {
    width: 280px;
    height: 425px;
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1.5s;
}
