@import url("fonts.css");
@import url("slider.css");

* { 
	margin: 0;
	padding: 0;
 }

 body {
 	font-family: Arial, sans-serif;
 }

a {
	text-decoration: none;
	color: white;
}

h1, h2, h3, h4, h5, .button{ 
	font-family: Georgia, sans-serif;
	font-weight: normal;
}

header {
	background-image: url('../img/header_puppy.png');
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	height: 820px;
	overflow: hidden;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.container-1 {
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	margin: 30px auto;
}

.nav {
	display: flex;
	padding: 50px 0;
}

.logo {
	flex: 4;
}

.logo-url {
	color: #f1cdb3;
}

.logo-subtext {
	font-size: 0.8rem;
}
.navbar {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
	flex: 3;
}

.nav-link{
	font-size: 15px;
}

.nav-link:hover{
	border-bottom: 3px solid #f1cdb3;
	padding-bottom: 5px;
}

.header-info {
	max-width: 450px;
	margin-top: 150px;
}

.about {
	margin: 100px auto;
}
.about-info {
	flex: 2;
	padding-top: 25px;
	color: #545454;
}

.about-img {
	flex: 2;
}

.header-info p {
	padding: 30px 0;
}

.button {
	padding: 10px 25px;
	border: 1px solid #f1cdb3;
	border-radius: 50px;
	color: #292929;
}

.button:hover {
	background-color: #f1cdb3;
}

.hovered {
	background-color: #f1cdb3;
}

.pets {
	background-color: #f6f6f6;
	text-align: center;
	height: 680px;
}

.pets h2{
    color: #545454;
    text-align: center;
    padding-top: 100px;
}
