@import url("fonts.css");
@import url("slider.css");

* { 
	margin: 0;
	padding: 0;
 }

 body {
 	font-family: Arial, sans-serif;
 	background-color: #fafafa;
 }

a {
	text-decoration: none;
	color: white;
}

h1, h2, h3, h4, h5, .button{ 
	font-family: Georgia, sans-serif;
	font-weight: normal;
}

header {
	background-image: url('../img/header_puppy.png');
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	height: 820px;
	overflow: hidden;
}

footer {
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	height: 360px;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.container-1 {
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	margin: 30px auto;
}

.nav-static {
	display: flex;
	padding: 30px 0;
}

.container-3 {
	max-width: 960px;
	margin: 10px auto;
	display: flex;
}
.nav-scroll {
	position: fixed;
	top: -70px;
	width: 100%;
	height: 70px;
	background-color: #fafafa;
	transition: top 0.3s;
	box-shadow: 0 0 3px -2px rgba(0,0,0,0.4);
}

.logo {
	flex: 4;
}

.logo-scroll-url {
	color: #545454;
}

.scroll-item {
	color: #545454;
}

.scroll-item a{
	color: #545454;
}

.scroll-item a:hover{
	color: #292929;
}

.text-color {
	color: #292929;
}

.logo-url {
	color: #f1cdb3;
}

.logo-subtext {
	font-size: 0.8rem;
}
.navbar {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
	flex: 3;
}

.nav-link{
	font-size: 15px;
}

.nav-link:hover{
	border-bottom: 3px solid #f1cdb3;
	padding-bottom: 5px;
}

.normal-h {
	text-align: center;
	color: #545454;
	padding: 75px;
}

.header-info {
	max-width: 450px;
	margin-top: 150px;
}

.about {
	margin: 100px auto;
}
.about-info {
	flex: 2;
	padding-top: 25px;
	color: #545454;
}

.about-img {
	flex: 2;
}

.header-info p {
	padding: 30px 0;
}

.button {
	padding: 10px 25px;
	border: 1px solid #f1cdb3;
	border-radius: 50px;
	color: #292929;
}

.button:hover {
	background-color: #f1cdb3;
}

.hovered {
	background-color: #f1cdb3;
}

.pets {
	background-color: #f6f6f6;
	text-align: center;
	height: 680px;
}

.pets h2{
    color: #545454;
    text-align: center;
    padding-top: 100px;
}

.help-item {
	margin: 0px 20px 75px 20px;
	width: 145px;
}

.help-item h4 {
	margin-top: 20px;
	color: #545454;
}

.donate {
	background-color: #f6f6f6;
	padding: 75px;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	text-align: center;
	justify-content: space-around;
}

.nowrap {
	flex-wrap: nowrap;
	text-align: left;
	align-items: flex-start;
}
.card {
	display: flex;
	background-color: #f1cdb3;
	padding: 5px 20px;
	border-radius: 10px;
	color: #292929;
	width: 260px;
	align-items: center;
	letter-spacing: 1px;
}

.card img {
	margin-right: 30px;
}

.donate-info {
	color: #b2b2b2;
	margin: 0 70px;
}

.donate-info h2 {
	color: #545454;
	margin-bottom: 20px;
}

.donate-info h4 {
	color: #545454;
	margin: 10px 0;
	letter-spacing: 1px;
}

.contact-info {
	display: flex;
	color: #f1cdb3;
	width: 300px;
	align-items: center;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.contacts img {
	margin-right: 15px;
}

.contacts h2{
	color: #ffffff;
	margin-bottom: 20px;
}

.container-2 {
	margin: 0 auto;
	padding-top: 75px;
	max-width: 960px;
	display: flex;
}